<aside class="aside">
	<btn-aside>
		<div>Autenticação</div>
		<svg class="btn-aside-stash" viewBox="0 0 10 16" version="1.1" width="14" height="18" aria-hidden="true">
			<path fill-rule="evenodd" d="M5 11L0 6l1.5-1.5L5 8.25 8.5 4.5 10 6l-5 5z"></path>
		</svg>
	</btn-aside>
	<div class="aside-content aside-login">
		<div class="aside-user-logged">
			<div class="aside-user-data">
				<div class="aside-user-avatar avatar-morph">
					<img src="https://via.placeholder.com/80/EFEFEF/000000/" alt="Name">
				</div>
				<div class="aside-user-info">
					<div class="aside-user-name">Name</div>
					<div class="aside-user-status">Status</div>
					<div class="aside-user-email">contato@email.com</div>
				</div>
			</div>
			<div class="aside-user-time-left">
				<div class="aside-user-item">
					<div class="aside-user-value">00</div>
					<div class="aside-user-label">dias</div>
				</div>
				<div class="aside-user-colon">:</div>
				<div class="aside-user-item">
					<div class="aside-user-value">00</div>
					<div class="aside-user-label">horas</div>
				</div>
				<div class="aside-user-colon">:</div>
				<div class="aside-user-item">
					<div class="aside-user-value">00</div>
					<div class="aside-user-label">minutos</div>
				</div>
				<div class="aside-user-colon">:</div>
				<div class="aside-user-item">
					<div class="aside-user-value">00</div>
					<div class="aside-user-label">segundos</div>
				</div>
			</div>
		</div>
		<div class="aside-login-form">
			<div class="aside-form-input auth-login">
				<input class="input-auth-key" type="text" placeholder="insira aqui sua chave secreta" maxlength="32">
				<span class="input-focus-border"></span>
			</div>
			<div class="aside-form-button auth-login">
				<user-auth class="btn-auth">Login</user-auth>
			</div>
		</div>
	</div>
	<btn-aside class="active">
		<div>Conteúdo relacionado</div>
		<svg class="btn-aside-stash" viewBox="0 0 10 16" version="1.1" width="14" height="18" aria-hidden="true">
			<path fill-rule="evenodd" d="M5 11L0 6l1.5-1.5L5 8.25 8.5 4.5 10 6l-5 5z"></path>
		</svg>
	</btn-aside>
	<div class="aside-content related-posts active">
		<a href="#" class="related-post">
			<div class="related-post-poster">
				<img src="https://via.placeholder.com/200/EFEFEF/000000/" alt="What is lorem ipsum">
			</div>
			<div class="related-post-info">
				<div class="related-post-title">What is lorem ipsum 1</div>
				<div class="related-post-uploader">admin</div>
			</div>
		</a>
		<a href="#" class="related-post">
			<div class="related-post-poster">
				<img src="https://via.placeholder.com/200/EFEFEF/000000/" alt="What is lorem ipsum">
			</div>
			<div class="related-post-info">
				<div class="related-post-title">What is lorem ipsum 2</div>
				<div class="related-post-uploader">admin</div>
			</div>
		</a>
		<a href="#" class="related-post">
			<div class="related-post-poster">
				<img src="https://via.placeholder.com/200/EFEFEF/000000/" alt="What is lorem ipsum">
			</div>
			<div class="related-post-info">
				<div class="related-post-title">What is lorem ipsum 3</div>
				<div class="related-post-uploader">admin</div>
			</div>
		</a>
	</div>
</aside>