<a class="gallery-item" href="{{ post.url | prepend: site.baseurl }}">
	<div class="gallery-preview">
		<div class="gallery-id category-{{ post.type }}">{{ post.type }}</div>
		<img src="https://via.placeholder.com/200">
	</div>
	<div class="gallery-details-items">
		<div class="gallery-date">{{ post.post_date }}</div>
		<h3>{{ post.title }}</h3>
		<div class="gallery-uploader category-{{ post.type }}">
			<div class="gallery-uploader-name">{{ post.author }}</div>
			<div class="gallery-uploader-posts">{% assign author_posts = site.posts | where: "author", post.author %}{{ author_posts.size }}</div>
		</div>
	</div>
</a>