---
layout: default
---
<main>
	<div class="header-welcome">
		<h1>Daily Dose Of <span class="name-site">Gore</span></h1>
		<div class="notice notice-warning text-description">Olá, seja bem-vindo(a), o <strong>Daily Dose Of Gore</strong> é um site de notícias que relata eventos do dia a dia, com vídeos relacionados a crimes reais, acidente e tragédias de todo o mundo, devido à natureza gráfica dos materiais encontrados o acesso é restrito apenas a adultos (maiores de 18 anos).</div>
	</div>
	<div class="content">
		<div class="content-top">
			<div class="content-item">Últimas Atualizações</div>
			<div class="content-item">Left</div>
		</div>
		<div class="gallery">
			{% for post in paginator.posts %}
			{% include general/loop.html %}
			{% endfor %}
			{% include plugins/pagination.html %}
		</div>
	</div>
</main>